// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.app-textbox input[type=text] {
    border-bottom: 1px solid #EBEBED;
    text-align: center;
    color: #d6d6d9;
    font-size: 18px;
    padding-bottom: 5px;
}

.error-message {
    display: block !important;
    color: #f00 !important;
    font-size: 14px !important;
}

.margin-0 {
    margin: 0 !important;
}
