page-home {
    .center {
        text-align: center;
    }

    .ionic-logo {
        display: inline-flex;
        position: relative;
        width: 87px;
        height: 87px;
        border: 3.5px solid #5E86C4;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
    }

    .ionic-logo:after {
        content: '';
        position: absolute;
        width: 38px;
        height: 38px;
        background: #5E86C4;
        top: 50%;
        left: 50%;
        margin-left: -19px;
        margin-top: -19px;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }

    .ionic-logo:before {
        content: '';
        background: #5E86C4;
        width: 14px;
        height: 14px;
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: -7px;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
        }
    }

    .pane {
        background: url('../assets/img/splash.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        form ul li{
            margin-bottom:10px;
        }
    }

    .scroll-content {
        overflow: hidden;
    }
}
