<ion-content class="home pane" padding>
    <form (ngSubmit)="regiesterUser()" style="margin-top:100px;" [formGroup]="signUpForm" novalidate>
        <ul>
            <li>
                <ion-item>
                    <ion-input type="text" placeholder="Full Name" name="fullName" required [(ngModel)]='user.FullName' formControlName="fullName"></ion-input>
                </ion-item>

                <span *ngIf="!signUpForm.controls.fullName.valid  && (signUpForm.controls.fullName.dirty || submitAttempt)" class="error-message">
                    Please enter full name.
                </span>
            </li>
            <li>
                <ion-item>
                    <ion-input type="text" placeholder="Email Address" name="email" required [(ngModel)]='user.Email' formControlName="email"></ion-input>
                </ion-item>

                <span *ngIf="!signUpForm.controls.email.valid  && (signUpForm.controls.email.dirty || submitAttempt)" class="error-message">
                    Please enter a email
                </span>
            </li>
            <li>
                <ion-item>
                    <ion-input type="text" placeholder="Phone Number" name="phoneNumber" required [(ngModel)]='user.Mobile' formControlName="mobile"></ion-input>
                </ion-item>

                <span *ngIf="!signUpForm.controls.mobile.valid  && (signUpForm.controls.mobile.dirty || submitAttempt)" class="error-message">
                    Please enter a valid name
                </span>

            </li>
        </ul>
        <div>
            <ion-checkbox color="dark" checked="true" style="position:relative;top:3px;"></ion-checkbox>
            <span>
                I agree to terms and conditions
            </span>
        </div>
        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn" full type="submit">Lets Go</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>

