<!--
  Generated template for the Contacts page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>contacts</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button block outline strong (click)="getAllContact()">Load Contact </button>
    <button ion-button block outline strong (click)="selectAll()">Select All</button>
    <ion-searchbar (ionInput)="searchFn($event)"></ion-searchbar>

    <ion-list>
        <ion-item *ngFor="let item of contactsFound|search: term;">
            <!--<input #{{item.id}} type="checkbox" [(ngModel)]="item.isSelected" (change)="selectContacntForImport1()" />-->
            <div item-content>
                {{item.displayName}}
            </div>
            <a [href]="item.phoneNumbers==null?'#':'tel:+'+item.phoneNumbers[0].value">
                <ion-icon name="call"></ion-icon>
            </a>

            <a [href]="item.phoneNumbers==null?'#':'sms:+'+item.phoneNumbers[0].value">
                <ion-icon name="text"></ion-icon>
            </a>
           </ion-item>
    </ion-list>

    <!--<ion-list [hidden]="selectedContacts.length==0">
        <ion-list-header>
            Selected Contacts
        </ion-list-header>
        <ion-item *ngFor="let item of selectedContacts;">
            {{item.displayName}}
        </ion-item>
    </ion-list>-->
</ion-content>


<!--{{item['isSelected'] ? item['isSelected'] : item['isSelected'] = false}}-->
<!--<ion-checkbox (ionChange)="selectContacntForImport(item,$event)" [(ngModel)]="item.isSelected"></ion-checkbox>-->