<ion-content class="pane">
    <div class="verify-main-container">
        <h2>
            Verify Mobile Number
        </h2>
        <div class="action-required clearfix">
            <div class="line" style="margin-right:5px;"></div>
            <span>ACTION REQUIRED</span>
            <div class="line" style="margin-left:5px;"></div>
        </div>
        <h3>
            Enter your verification code
        </h3>
        <div class="verify-textbox-container">
            <form name="otpForm" [formGroup]="otpForm">
                <ion-input class="app-textbox" [(ngModel)]="otpNumber" required formControlName="otp" ></ion-input>
            </form>
            <span *ngIf="!otpForm.controls.otp.valid  && (otpForm.controls.otp.dirty || submitAttempt)" class="error-message">
                Please enter a number
            </span>
            <p>
               We were unable to auto-verify your mobile number.Please enter the code texted to
            </p>
            <span>
                {{mobile}}
            </span>
        </div>
        <div class="button-container">
            <button ion-button block outline strong (click)="verifyOTP()">Verify</button>
            <button ion-button block strong outline>Resend Text</button>
            <button ion-button block strong outline>Change Mobile Number</button>
        </div>
    </div>
</ion-content>
