page-verify-phone {

    .pane {
        background: url('../assets/img/splash.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .verify-main-container {
            margin-top: 100px;
            max-width: 80%;
            margin: 100px auto 0;

            h2 {
                text-align: center;
                font-size: 21px;
                font-weight: normal;
                color: #6B4CBE;
            }

            .action-required {
                margin-top: 15px;
                position: relative;

                .line {
                    width: 24%;
                    height: 1px;
                    background-color: #D6D6D9;
                    float: left;
                    margin-top: 7px;
                }

                span {
                    float: left;
                    color: #d6d6d9;
                }
            }

            h3 {
                color: #EBEBED;
                text-align: center;
                font-size: 15px;
                font-weight: normal;
            }

            .verify-textbox-container {
                margin: 40px auto 0;
                max-width: 85%;

                p {
                    color: #EBEBED;
                    font-size: 13px;
                    text-align: center;
                }

                span {
                    text-align: center;
                    font-size: 21px;
                    color: #6B4CBE;
                    display: block;
                }
            }

            .button-container {
                max-width: 85%;
                margin:30px auto 0;
            }
        }
    }
}
